
#dataform {
	/*float:right;*/
	text-align:right;
	margin-right: 10px;	
	display:block;
}

.foreground
{
	z-index:  1000;
}
.tooltip{
 	fill: black;
  	stroke: black;
  	stroke-width: 1;
  	opacity: 0.85;
  	color: #fff;
 }

/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
	background: #696969 url(bg.png);
	margin-bottom: 100px;
	min-width: 960px;
  	color: #222; text-shadow: 0px 2px 3px #555;
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: Helvetica, Arial, Sans-Serif;  
 
}

h1 {
	display: block; text-decoration: none;
	font: 80px Helvetica, Arial, Sans-Serif; letter-spacing: -4px;  
	text-align: center;
	color: #999; text-shadow: 0px 3px 8px #2a2a2a;
 }

 
h2 {
	font: 24px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	
	color: #222; text-shadow: 0px 2px 3px #555;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: none;
	color: #777;
}

.name
{
	color: #777;
	font-weight: bold;	
}

#infotext {
	float:right;
	margin-right: 10px;	
	display:block;
	margin-top:100px;
	width: 180px; background: #111; padding: 20px;
	padding-top: 5px;
	font-size: 12px; color: #ccc; text-shadow: 0px 2px 3px #171717;
	
	-webkit-box-shadow: 0px 2px 3px #555;
	-moz-box-shadow: 0px 2px 3px #555;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
}

.titleApice{
	color: #E52B50;
	margin-bottom: -20px;
	font-size: 30px;
	text-shadow: 0px 5px 10px #3b3b3b
}


/************************************************************************************
960 grid
*************************************************************************************/

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_2 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}



.push_1, .pull_1,
.push_2, .pull_2 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/


.container_2 .grid_1 {
	width:460px;
}

.container_2 .grid_2 {
	width:940px;
}




/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/


.container_2 .prefix_1 {
	padding-left:480px;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/


.container_2 .suffix_1 {
	padding-right:480px;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/


.container_2 .push_1 {
	left:480px;
}



/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/


.container_2 .pull_1 {
	left:-480px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}





/************************************************************************************
TOOLTIP
*************************************************************************************/
.tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}

.tooltip {
  pointer-events: none;
  opacity: 0;
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  font-stretch: condensed;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 6px 5px 9px -9px black,
                      5px 6px 9px -9px black;
  -moz-box-shadow: 6px 5px 9px -9px black,
                   5px 6px 9px -9px black;
  box-shadow: 6px 5px 9px -9px black,
              5px 6px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}
.tooltip.active {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
.tooltip.out {
  opacity: 0;
  margin-top: -20px;
}


/************************************************************************************
AUTHORINFO
*************************************************************************************/
.fancyPic{
	-webkit-box-shadow: 8px 8px 8px #111;
	-moz-box-shadow: 8px 8px 8px #111;
	box-shadow: 8px 8px 8px #111;
 
	/*rounded corners*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}





.fancyPic2
{
       /* Inner top shadow */
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
 
    /* Round corners */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.authorBox {
	width: 500px; margin: 0 auto; 
	background: #222; 
	padding-left: 20px; padding-right: 20px;	
	padding-top: 20px;
	font-size: 16px; color: #555; text-shadow: 0px 2px 3px #171717;
	margin-top: 30px;
	height: 200px;
	-webkit-box-shadow: 0px 2px 3px #555;
	-moz-box-shadow: 0px 2px 3px #555;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
}

.author{
	width: 100%;
	margin-top:20px;
	height:120px;
}

.authorPic{
	float: left;	
	width: 70px;
	height: 70px;
	margin-left:0px;
}
.authorDescription{
	
	text-align: left;
	margin-left: 80px;
	margin-top: -32px;
}